.nav-custom-footer .ui-btn .ui-btn-inner {
	padding-top: 40px !important; 
}
.nav-custom-footer .ui-btn .ui-icon {
	width: 30px!important;
	height: 30px!important;
	margin-left: -15px !important;
	box-shadow: none!important;
	-moz-box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-webkit-border-radius: none !important;
	border-radius: none !important;
}
#fuel .ui-icon {
	background:  url(../images/fuel.png) 50% 50% no-repeat;
	background-size: 28px 24px;
}
#gear .ui-icon {
	background:  url(../images/gear.png) 50% 50% no-repeat;
	background-size: 26px 26px;
}